body {
  font-family: Arial, sans-serif;
  text-align: center;
  background: linear-gradient(to right, #74ebd5, #9face6);
  color: #333;
  margin-top: 50px;
}

h1 {
  margin-bottom: 30px;
}

.botoes button {
  padding: 15px 25px;
  margin: 10px;
  font-size: 18px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  background-color: white;
  transition: 0.3s;
}

.botoes button:hover {
  background-color: #333;
  color: white;
  transform: scale(1.1);
}

#resultado {
  margin-top: 30px;
  font-size: 20px;
  font-weight: bold;
}
